table {
  width: 100%;
  border-collapse: separate;
  margin-top: 30px;
  text-align: center;
  font-family: "Amazon Ember",sans-serif;
  border-spacing: 0;
}

th {
  background-color: #e4e5e5;
  padding: 15px 15px;
  font-weight: 400;
  border-bottom: 2px solid rgb(178, 182, 187);
}

td {
  padding: 14px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}

tr:hover {
  background-color: #e4e5e5;
}
