table {
  text-align: center;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
}
