.navbar{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}
.logo{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.nav-links{
  display: flex;
}
.nav-links{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(57, 132, 145);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.nav-links a{
  background-color: rgb(57, 132, 145);
  padding: 10px 25px;
  border-radius: 25px;
  color: rgb(253, 253, 253);
  text-decoration: none;
}
.nav-links a.active{
  background-color: rgb(72, 165, 182);
}
