.navbar{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.nav-links{
  display: flex;
}
.nav-links{
  font-size: 15px;
  font-family: "Amazon Ember",sans-serif;
  border: 1px solid #d5d9d9;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
}
.nav-links a{
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  color: #0f1111;
  text-decoration: none;
}
.nav-links a.active{
  background-color: #e4e5e5;
}
