.navbar{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.logo{
  display: flex;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links{
  display: flex;
}
.nav-links{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 136, 136);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.nav-links a{
  background-color: rgb(136, 136, 136);
  padding: 10px 25px;
  border-radius: 25px;
  color: rgb(253, 253, 253);
  text-decoration: none;
}
.nav-links a.active{
  background-color: rgb(61, 61, 61);
}
