.empty-state {
  margin-top: 50%;
  transform: translateY(-50%);

  ion-icon {
    font-size: 100px;
    color: var(--ion-color-medium);
  }

  h2 {
    color: var(--ion-color-medium);
    margin-top: 20px;
  }

  p {
    color: var(--ion-color-medium-shade);
  }
}

ion-chip {
  font-size: 0.75em;
}
