@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


#calendario{
	padding: 20px;
	width:100px;
	text-align: center;
	font-family:"Ubuntu";	
}

#anio, #mes{
	padding: 7px 10px;
	background-color:#6041F1;
	color:white;
	font-weight: 400;
}

#anio{
	border-radius: 10px 10px 0 0;
}

#mes{
	border-radius: 0 0 10px 10px;
}

#dia{
	padding: 8px;
	background-color:#9280e5;
	color: white;
	font-size:3em;	
	font-weight: 600;
}
