<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="juego; else notFound">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ juego.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Plataforma:</strong> {{ juego.plataforma }}</p>
        <p><strong>Género:</strong> {{ juego.genero }}</p>
        <p><strong>Precio:</strong> {{ juego.precio }}€</p>
        <p><strong>Popular:</strong> {{ juego.popular ? 'Sí' : 'No' }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" fill="outline" (click)="volver()">Volver</ion-button>
    <ion-button expand="block" (click)="irTienda()">Ir tienda</ion-button>
  </ng-container>

  <ng-template #notFound>
    <ion-text color="danger">
      <p>No se encontró el juego.</p>
    </ion-text>
    <ion-button expand="block" fill="outline" (click)="volver()">Volver</ion-button>
  </ng-template>
</ion-content>
