<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let juego of juegos">
      <ion-label>
        <h2>{{ juego.titulo }}</h2>
        <p>{{ juego.plataforma }} - {{ juego.genero }} - {{ juego.precio }}€</p>
      </ion-label>

      <ion-button slot="end" (click)="verDetalle(juego)">
        Ver detalle
      </ion-button>

      <ion-button slot="end" color="secondary" (click)="vistaRapida(juego)">
        Vista rápida
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
