.user-list{
  display: flex;
  gap: 12px;
  margin-top: 50px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.buttons{
  display: flex;
  flex-direction: column;
}
.buttons a{
  text-decoration: none;
}
.buttons .lista, .anadir, .editar{
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 15px 0 0 15px;
  background-color: rgb(57, 132, 145);
  color: rgb(253, 253, 253);
  transition: all 0.3s ease-in-out;
}

.buttons .lista:hover, .anadir:hover, .editar:hover{
  background-color: rgb(72, 165, 182);
}
.buttons a.side-active{
  background-color: rgb(72, 165, 182);
}
