<div class="user-list">
  <div class="buttons">
    <a routerLink="/lista" routerLinkActive="side-active" [routerLinkActiveOptions]="{ exact: true }" class="lista">Lista</a>
    <a routerLink="/anadir" routerLinkActive="side-active" [routerLinkActiveOptions]="{ exact: true }" class="anadir">Añadir</a>
    <a routerLink="/editar" routerLinkActive="side-active" [routerLinkActiveOptions]="{ exact: true }" class="editar">Editar</a>
  </div>
  <div class="table">
    <table>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
