<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>GameHub</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/dashboard/juegos" routerDirection="root">Juegos</ion-item>
      <ion-item routerLink="/dashboard/tienda" routerDirection="root">Tienda</ion-item>
      <ion-item routerLink="/dashboard/perfil" routerDirection="root">Perfil</ion-item>
      <ion-item button (click)="openAboutModal()">Acerca de GameHub</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GameHub</ion-title>
  </ion-toolbar>
</ion-header>

<!-- OJO: no metas ion-content alrededor de ion-tabs -->
<ion-tabs>
  <!-- ESTE router-outlet es el que pinta /dashboard/juegos, /dashboard/tienda, /dashboard/perfil -->
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="juegos" routerLink="/dashboard/juegos" routerDirection="root">
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tienda" routerLink="/dashboard/tienda" routerDirection="root">
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/dashboard/perfil" routerDirection="root">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
